#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#
# GNU copyright 2008 Akos FROHNER <akos@frohner.hu>
#

VERSION=$(shell head -1 debian/changelog | sed 's/.*(\(.*\)).*/\1/')
BASEURL=https://dist.eugridpma.info/distribution/igtf/current/accredited/
BUNDLE=igtf-preinstalled-bundle-classic-$(VERSION).tar.gz
CADIR=/etc/grid-security/certificates
BUILDCADIR=$(CURDIR)/debian/ca-policy-igtf-classic/$(CADIR)

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f $(BUNDLE)
	dh_clean 


$(BUNDLE):
	wget $(BASEURL)/$(BUNDLE)

install: build $(BUNDLE)
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	install -m 0775 -d $(BUILDCADIR)
	tar -xzf $(PWD)/$(BUNDLE) -C $(BUILDCADIR)
	chmod 0644 $(BUILDCADIR)/*

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
